.popup-content {
  background-color: #121212;
  color: #F1F1F1;
}

.poup-content input {
  background-color: white;
}

.button-close {
  background: transparent !important;
  border-color: transparent !important;
  color: white !important;
}
.button-close:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
