select {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #F1F1F1;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
}

option {
  border-color: transparent;
  background-color: #121212;
  color: #F1F1F1;
}


