{% extends 'core/base.html' %}

{% load static %}

{% block content %}
  {% block extrastylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/game_displayer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/selection_menu.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/selection_import_bar.css' %}" />
  {% endblock extrastylesheets %}

  <div class="content">
    <div class="sorting">
      {% include 'core/selection_import_header.html' %}
    </div>
    <div class="grid">
      {% for game in games %}
        <div class="grid-item">
          <a href="game/{{ game.id }}">
          <div class="game-img brightness"><img src="{{ game.thumbnail.url }}"></div>
          <div class="game-title">{{ game.name }}</div>
          <div class="game-price">{{ game.get_price }}</div>
          </a>
          <button id="save-game-btn" type="button" name="button" data-form-url="{% url 'save_game_to_library' game_id=game.id user_id=request.user.id %}">Speichern</button>
        </div>
      {% endfor %}

      {% if request.user.is_developer == True or request.user.is_publisher == True %}
        <div class="grid-item grid-add-item">
          <button id="add-game-btn" class="button" type="button" name="button"><span class="fa fa-plus"></span></button>
        </div>
      {% endif %}

      <a href="{% url 'api_call' %}">API Call</a>

    </div>
  </div>

  {% block extrascripts %}
    <script type="text/javascript">
      $(function () {
        $("#add-game-btn").modalForm({formURL: "{% url 'game_add' %}"});
        $("#save-game-btn").click(function () {
          window.location.href = $(this).data("form-url");
        });
        $("#add-category-btn").modalForm({formURL: "{% url 'category_add' %}"});
        $(".mark-game-as-favorite-btn").each(function () {
          $(this).click(function () {
            window.location.href = $(this).data("form-url");
          });
        });
        $("#export-csv-btn").click(function () {
          alert('clicked')
          window.location.href = "{% url 'export_csv' %}";
        });
        $("#import-form").submit(function (e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append('file', $("input[id^='file'")[0].files[0])
            formData.append('csrfmiddlewaretoken', "{{ csrf_token }}")
            $.ajax({
              url: "{% url 'import_csv' %}",
              method: "POST",
              processData: false,
              contentType: false,
              mimeType: 'multipart/form-data',
              data: formData,
              success: function(data) {
                window.location.href = "/app"
              }
            });
        });

        $("#standard-select").on('change', function () {
          var value = $(this).children(":selected").attr("id");
          var id = $(this).val();
          window.location.href = `/app/sortBy=${value}&sortId=${id}`;
        });

        $("#file").change(function () {
          $("#lable_file").html($(this).val().split("\\").splice(-1,1)[0] || "Datei auswählen");     
        });
      });

      $("#standard-select").val({{ sort_id }});

      function dropDown(event) {
        event.target.parentElement.children[1].classList.remove("d-none");
        document.getElementById("overlay").classList.remove("d-none");
      }

      function hide(event) {
        var items = document.getElementsByClassName('menu');
        for (let i = 0; i < items.length; i++) {
            items[i].classList.add("d-none");
        }
        document.getElementById("overlay").classList.add("d-none");
      }
    </script>
  {% endblock extrascripts %}
{% endblock content %}
