{% extends 'core/base.html' %}

{% load static %}

{% block content %}
  {% block extrastylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/game_displayer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/selection_menu.css' %}" />
  {% endblock extrastylesheets %}

  <div class="content">
    <div class="sorting">
      <div class="s">
        <span><p>Sortiere nach: </p></span>
        <div class="select">
          <select id="standard-select">
            <option id="name" value="1">Alphabetisch</option>
            <option id="price" value="2">Pries: Aufsteigend</option>
            <option id="-price" value="3">Pries: Absteigend</option>
            <option id="" value="4">Bewertung: Aufsteigend</option>
            <option id="" value="5">Bewertung: Absteigend</option>
          </select>
        </div>
      </div>
      <div class="import-export">
        <!--<form id="import-form" method="post" enctype="multipart/form-data" data-form-url="{% url 'import_csv' %}">
          {% csrf_token %}
          <input type="file" name="file">
          <button type="submit">Import</button>
          </form>-->
        <span><a href="{% url 'import_csv' %}">Import</a></span>
        <span><a href="{% url 'export_csv' %}">Export</a></span>
      </div>
    </div>
    <div class="grid">
      {% for game in games %}
        <div class="grid-item">
          <a href="game/{{ game.id }}">
          <div class="game-img brightness"><img src="{{ game.thumbnail.url }}"></div>
          <div class="game-title">{{ game.name }}</div>
          <div class="game-price">{{ game.get_price }}</div>
          </a>
          <a href="{% url 'save_game_to_library' game_id=game.id user_id=request.user.id %}">Save</a>
        </div>
      {% endfor %}

      {% if request.user.is_developer == True or request.user.is_publisher == True %}
        <div class="grid-item grid-add-item">
          <button id="add-game-btn" class="button" type="button" name="button"><span class="fa fa-plus"></span></button>
        </div>
      {% endif %}

      <a href="{% url 'api_call' %}">API Call</a>

    </div>
  </div>

  {% block extrascripts %}
    <script type="text/javascript">
      $(function () {
        $("#add-game-btn").modalForm({formURL: "{% url 'game_add' %}"});
        $("#add-category-btn").modalForm({formURL: "{% url 'category_add' %}"});
        $(".mark-game-as-favorite-btn").each(function () {
          $(this).click(function () {
            window.location.href = $(this).data("form-url");
          });
        });
        // $("#import-form").submit(function () {
        //     alert('clicked');
        //     $form = $(this)
        //     var formData = new FormatData(this);
        //     $.ajax({
        //       url: "{% url 'import_csv' %}",
        //       type: 'POST',
        //       data: formData,
        //       success: function(response) {
        //         if (response.error) {
        //           alert('error')
        //           alert(response.error)
        //           $.each(response.errors, function(name, error){
        //             error = '<small class="text-muted error">' + error + '</small>'
        //             $form.find('[name=' + name + ']').after(error);
        //           })
        //         } else {
        //           alert(response.message)
        //           window.location.href = "http://localhost:8000/app/import"
        //         }
        //       }
        //       cache: false,
        //       contentType: false,
        //       processData: false
        //     });
        //     // alert('clicked');
        //     // alert($(this).data("form-url"));
        //     // window.location.href = $(this).data("form-url");
        // });

        $("#standard-select").on('change', function () {
          var value = $(this).children(":selected").attr("id");
          var id = $(this).val();
          window.location.href = `/app/sortBy=${value}&sortId=${id}`;
        });
      });

      $("#standard-select").val({{ sort_id }});

      function dropDown(event) {
        event.target.parentElement.children[1].classList.remove("d-none");
        document.getElementById("overlay").classList.remove("d-none");
      }

      function hide(event) {
        var items = document.getElementsByClassName('menu');
        for (let i = 0; i < items.length; i++) {
            items[i].classList.add("d-none");
        }
        document.getElementById("overlay").classList.add("d-none");
      }
    </script>
  {% endblock extrascripts %}
{% endblock content %}
