<div class="s">
  <span><p>Sortiere nach: </p></span>
  <div class="select">
    <select id="standard-select">
      <option id="name" value="1">Alphabetisch</option>
      <option id="price" value="2">Preis: Aufsteigend</option>
      <option id="-price" value="3">Preis: Absteigend</option>
      <option id="" value="4">Bewertung: Aufsteigend</option>
      <option id="" value="5">Bewertung: Absteigend</option>
    </select>
  </div>
</div>
<div class="import-export">
  <form id="import-form" action="" method="post" enctype="multipart/form-data">
    <input id="file" type="file" name="file" style="display: none;">
    <label for="file" id="lable_file">Datei auswählen</label>
    <button type="submit" id="import-csv-btn">Importieren</button>
  </form>
  <span><button id="export-csv-btn" type="button" name="button">Exportieren</button></span>
</div>
