<div class="popup-content">
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
  
  
   <div class="modal-header">
      <h5 class="modal-title">Füge neu Speil hinzu</h5>
      <button type="button" class="button-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body popup-body">
      <div class="form-group{% if form.name.errors %} invalid{% endif %}">
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
          {{ form.name }}
          {% for error in form.name.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
      </div>
      <div class="form-group{% if form.thumbnail.errors %} invalid{% endif %}">
          <label for="{{ form.thumbnail.id_for_label }}">{{ form.thumbnail.label }}</label>
          {{ form.thumbnail }}
          {% for error in category.thumbnail.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
      </div>
      <div class="form-group{% if form.category.errors %} invalid{% endif %}">
          <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
          {{ form.category }}
          {% for error in category.name.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
      </div>
      <div class="form-group{% if form.desc.errors %} invalid{% endif %}">
          <label for="{{ form.desc.id_for_label }}">{{ form.desc.label }}</label>
          {{ form.desc }}
          {% for error in category.desc.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
      </div>
    </div>
  
    <div class="modal-footer popup-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </div>
   
  
  </form>
</div>
