{%load static%}
<div class="popup-content">
  <script defer src="{%static 'assets/js/autocomplete.js'%}"></script>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
      <h5 class="modal-title">Füge neu Spiel hinzu</h5>
      <button type="button" class="button-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body popup-body">
      <div class="form-group{% if form.name.errors %} invalid{% endif %}">
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
          <div id="gameName">
            {{ form.name }}
          </div>
        {% for error in form.name.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.price.errors %} invalid{% endif %}">
        <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
        {{ form.price }}
        {% for error in form.price.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.thumbnail.errors %} invalid{% endif %}">
        <label for="{{ form.thumbnail.id_for_label }}">{{ form.thumbnail.label }}</label>
        {{ form.thumbnail }}
        {% for error in form.thumbnail.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.developer.errors %} invalid{% endif %}">
        <label for="{{ form.developer.id_for_label }}">{{ form.developer.label }}</label>
        {{ form.developer }}
        {% for error in form.developer.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.publisher.errors %} invalid{% endif %}">
        <label for="{{ form.publisher.id_for_label }}">{{ form.publisher.label }}</label>
        {{ form.publisher }}
        {% for error in form.publisher.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.category.errors %} invalid{% endif %}">
        <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
        {{ form.category }}
        {% for error in form.category.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.subcategories.errors %} invalid{% endif %}">
        <label for="{{ form.subcategories.id_for_label }}">{{ form.subcategories.label }}</label>
        {{ form.subcategories }}
        {% for error in form.subcategories.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group{% if form.desc.errors %} invalid{% endif %}">
        <label for="{{ form.desc.id_for_label }}">{{ form.desc.label }}</label>
        {{ form.desc }}
        {% for error in form.desc.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <style>
      /* * {
        box-sizing: border-box;
      }
      
      body {
        font: 16px Arial;  
      }*/
      
      /*the container must be positioned relative:*/
      .autocomplete {
        position: relative;
        display: inline-block;
      }
      
      /*input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
      }*/
      
      /*input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
      }*/
      
      /*input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
      }*/
      
      .autocomplete-items {
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }
      
      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid #d4d4d4; 
        color: #000000;
      }
      
      /*when hovering an item:*/
      .autocomplete-items div:hover {
        background-color: #e9e9e9; 
        color: #000000;
      }
      
      /*when navigating through the items using the arrow keys:*/
      .autocomplete-active {
        background-color: DodgerBlue !important; 
        color: #000000; 
      }
      </style>

    <div class="modal-footer popup-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </div>

  </form>
</div>
