{% extends 'core/base.html' %}

{% load static %}

{% block content %}

  {% block extrastylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/game_displayer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/game.css' %}" />
  {% endblock extrastylesheets %}
  
  <div class="grid-container">
    <div class="game-details">
      <div class="game-title">
        {{ game.name }}
        {% if game.developer == request.user  or game.publisher == request.user %}
          <button class="update-game-btn button" type="button" name="button" data-form-url="{% url 'update_game' game.pk %}"><span class="fa fa-pencil"></span></button>
          <a href="{% url 'delete_game' game.pk %}"><span class="fa fa-trash"></span></a>
        {% endif %}
        <a href="{% url 'print_game' %}" class="button"><span class="fa fa-print"></span></a>
        {% if game.is_favorite %}
          <div href="#" class="favorite-button marked" title="Unmark from favorite">
            <button class="mark-game-as-favorite-btn inline button" type="button" name="button" data-form-url="{% url 'unmark_game_as_favorite' game_id=game.pk user_id=request.user.pk %}"><span class="fa fa-heart fa-1x"></span></a>
          </div>
        {% else %}
          <div href="#" class="favorite-button" title="Mark as favorite">
            <button class="mark-game-as-favorite-btn inline button" type="button" name="button" data-form-url="{% url 'mark_game_as_favorite' game_id=game.pk user_id=request.user.pk %}"><span class="fa fa-heart fa-1x"></span></a>
          </div>
        {% endif %}
      </div>

      <div class="game-thumb"><img src="{{ game.thumbnail.url }}" /></div>
      <div class="game-dt">
        <div class="label">Entwickler</div>
        <div>{{ game.developer }}</div>
        <div class="label">Herausgeber</div>
        <div>{{ game.publisher }}</div>
        <div class="label">Veröffentlichungsdatum</div>
        <div>{{ game.publication_date }}</div>
        <div class="label">Kaufpreis</div>
        <div>{{ game.get_price }}</div>
        <div class="label">Kategorie</div>
        <div>{{ game.category }}</div>
        <div class="label">Sub-Kategorien</div>
        {% for subcategorie in game.subcategories.all %}
          <div class="genre">{{ subcategorie }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="game-description">
      <p>{{ game.desc }}</p>
    </div>
  </div>

  {% block extrascripts %}
    <script type="text/javascript">
      $(function () {
        $(".update-game-btn").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url")
          });
        });
        $("#add-category-btn").modalForm({formURL: "{% url 'category_add' %}"});
        $(".edit-category-btn").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url")
          });
        });
        $(".mark-game-as-favorite-btn").each(function () {
          $(this).click(function () {
            window.location.href = $(this).data("form-url");
          });
        });
      });
    </script>
  {% endblock extrascripts %}

{% endblock content %}
