{% extends '../core/base.html' %}

{% load static %}

{% block content %}
  {% block extrastylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/game_displayer.css' %}" />
  {% endblock extrastylesheets %}

  <div class="content">
    <div class="sorting">
      <div class="s">
        <span><p>Sortiere nach: </p></span>
          <div class="select">
            <select id="standard-select">
              <option id="name" value="1">Alphabetisch</option>
              <option id="price" value="2">Pries: Aufsteigend</option>
              <option id="-price" value="3">Pries: Absteigend</option>
              <option id="" value="4">Bewertung: Aufsteigend</option>
              <option id="" value="5">Bewertung: Absteigend</option>
            </select>
          </div>
      </div>
      <div class="import-export">
        <span><a href="{% url 'import_csv' %}">Import</a></span>
        <span><a href="{% url 'export_csv' %}">Export</a></span>
      </div>
    </div>
    <div class="grid">
    {% for game in games %}
      <div class="grid-item">
        <a href="game/{{ game.id }}">
          <div class="game-img brightness"><img src="{{ game.thumbnail.url }}"></div>
          <div class="game-title">{{ game.name }}</div>
          <div class="game-price">{{ game.get_price }}</div>
        </a>
      </div>
    {% endfor %}

    <div class="grid-item grid-add-item">
      <button id="add-game-btn" class="button" type="button" name="button"><span class="fa fa-plus"></span></button>
    </div>

    </div>
  </div>
{% endblock content %}
