{% include "navbar.html" %}
{% include "topnav.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'topnav.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content">
  <div class="grid">
    {% for game in games %}
      <div class="grid-item">
  	<span><div class="game-img"><img src="{{ game.thumbnail.url }}"></div></span>
  	<span><div class="game-title">{{ game.name }}</div></span>
	<span><a href="{% url 'game_undelete' game.id %}"><input class="undelete-btn" type="submit" value="Undelete"></input></a></span>
      </div>
    {% endfor %}
    
  </div>
</div>
