{% include "navbar.html" %}
{% include "topnav.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'topnav.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="content">
<div class="sorting">
    <span><p>Sortiere nach: </p></span>
  </div>
  <div class="import-export">
    <span><a href="{% url 'import_csv' %}">Import</a></span>
    <span><a href="{% url 'export_csv' %}">Export</a></span>
  </div>
<div class="grid">
  {% for game in games %}
    <div class="grid-item">
	<a href="game/{{ game.id }}">
  	<div class="game-img brightness"><img src="{{ game.thumbnail.url }}"></div>
  	<div class="game-title">{{ game.name }}</div>
  	<div class="game-price">33,45 €</div>
	</a>
	{% if favorites.count %}
	  {% for favorite in favorites %}
            {% if favorite.game.name == game.name %}
	      <div href="#" class="favorite-button marked" title="Mark as favorite">
	        <button class="mark-game-as-favorite-btn inline button" type="button" name="button" data-form-url="{% url 'unmark_game_as_favorite' game_id=game.pk user_id=request.user.pk %}"><span class="fa fa-heart fa-1x"></span></a>
              </div>
	    {% else %}
	      <div href="#" class="favorite-button" title="Like Button">
	        <button class="mark-game-as-favorite-btn inline button" type="button" name="button" data-form-url="{% url 'mark_game_as_favorite' game_id=game.pk user_id=request.user.pk %}"><span class="fa fa-heart fa-1x"></span></a>
              </div>
	    {% endif %}
          {% endfor %}
	{% else %}
	  <div href="#" class="favorite-button" title="Like Button">
	      <button class="mark-game-as-favorite-btn inline button" type="button" name="button" data-form-url="{% url 'mark_game_as_favorite' game_id=game.pk user_id=request.user.pk %}"><span class="fa fa-heart fa-1x"></span></a>
          </div>
	{% endif %}
    </div>
  {% endfor %}
  
   <div class="grid-item grid-add-item">
	    <button id="add-game-btn" class="button" type="button" name="button"><span class="fa fa-plus"></span></button>
    </div>
  
</div>
</div>
