{% include "navbar.html" %}
{% include "topnav.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'game.css' %}" />
<link rel="stylesheet" href="{% static 'topnav.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="grid-container">
  <div class="game-details">
    <div class="game-title">
      {{ game.name }}

      <button type="button" name="button" data-form-url="{% url 'update_game' game_id=game.id %}"><span class="fa fa-pencil"></span></button>
      <a href="{% url 'game_delete' game_id=game.id %}" class="fa fa-trash"></a>
    </div>
    
    <div class="game-thumb"><img src="{{ game.thumbnail.url }}" /></div>
    <div class="game-dt">
      <div class="label">Creator</div>
      <div>Epic Games</div>
      <div class="label">Publisher</div>
      <div>Epic Games</div>
      <div class="label">Publication date</div>
      <div>12.02.2022</div>
      <div class="label">Category</div>
      <div>{{ game.category }}</div>
      <div class="label">Genres</div>
      <div class="genre">Action</div>
      <div class="genre">RPG</div>
      <div class="genre">MMO</div>
    </div>
  </div>

  <div class="game-description">
    <p>{{ game.desc }}</p>
  </div>
</div>
