{% load static %}

{% include 'navbar.html' %}
{% include 'topnav.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
{% endblock stylesheets %}


{% block scripts %}
  <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock scripts %}

<div class="content">
  <div class="sorting">
    <span><p>Sortiere nach: </p></span>
  </div>
  <div class="import-export">
    <span><a href="{% url 'import_csv' %}">Import</a></span>
    <span><a href="{% url 'export_csv' %}">Export</a></span>
  </div>
  
  <div class="grid">
    {% for game in games %}
      <div class="grid-item">
  	<a href="game/{{ game.id }}">
  	<div href="#" class="like-button" title="Like Button">
          <i class="fa fa-heart fa-1x"></i>
        </div>
  	<span><div class="game-img brightness"><img src="{{ game.thumbnail.url }}"></div></span>
  	<span><div class="game-title">{{ game.name }}</div></span>
  	<span><div class="game-price">33,45 €</div></span>
        </a>
      </div>
    {% endfor %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    
    <div class="grid-item grid-add-item">
	    <button id="add-game-btn" class="button" type="button" name="button"><span class="fa fa-plus"></span></button>
    </div>

    <a href="{% url 'api_call' %}">API Call</a>
    
  </div>
</div>

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      $("#add-game-btn").modalForm({formURL: "{% url 'game_add' %}"});
      $("#add-category-btn").modalForm({formURL: "{% url 'category_add' %}"});
      $(".edit-category-btn").each(function () {
        $(this).modalForm({
  	formURL: $(this).data("form-url"),
        });
      });
  
    });
  </script>
{% endblock extrascripts %}
